body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,button, input, textarea,th, td,header,nav,footer,aside,a,b,i,span,em{ margin: 0; padding: 0;}
html{height:100%;font-size: 62.5%}
body{font:1.2rem/1.2 'Microsoft Yahei',Tahoma,Helvetica,Arial,Sans-serif;color:#000;max-width:640px;margin:0 auto;}
ul,ol{list-style: none}
a{color:#666;text-decoration: none; outline: none;-webkit-tap-highlight-color:transparent;}
a:hover{color:#666}
img{border:none;vertical-align: middle}
input,select,button{ outline: none}
a,span,i,b,em{display: inline-block; font-style: normal}

/*public*/
.left{float: left}
.right{float: right;}
.t_c{text-align: center;}
.t_l{text-align: left;}
.t_r{text-align: right}
.clearfix:after{content:"";display: block; clear: both;}
.body-auto{max-width:640px; margin: 0 auto}

	/*font-size*/
.f-12{font-size: 1.2rem}
.f-13{font-size: 1.3rem}
.f-14{font-size: 1.4rem}
.f-16{font-size: 1.6rem}
.f-18{font-size: 1.8rem}
.f-20{font-size: 2.0rem}
.f-24{font-size: 2.4rem}

	/*color/background-color*/
.col-fff{color:#fff}
.col-888{color:#888}
.col-333{color:#333}
.col-000{color:#000}
.col-06f{color:#06f}
.bg-fff{background:#fff}

	/*margin/padding*/
.mt-10{margin-top:1rem}
.mb-5{margin-bottom:.5rem}
.mb-10{margin-bottom:1rem}
.mb-15{margin-bottom:1.5rem}
.mb-20{margin-bottom:2.0rem}
.ml-5{margin-left:.5rem}
.ml-10{margin-left:1rem}
.mt-50{margin-top:5rem;}
.pb-20{padding-bottom:2rem;}

/*垂直居中*/
.vertical-center-outer:after { display: inline-block; content: ''; height: 100%; vertical-align: middle;}
.vertical-center {display: inline-block; vertical-align: middle;}
